src/example/ACMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="airClass" type="xsd:int"/>
   <element name="area" type="xsd:int"/>
   <element name="isStudent" type="xsd:boolean"/>
   <element name="luggage" type="xsd:double"/>
   <element name="economicfee" type="xsd:double"/>
   <element name="feeCalculationReturn" type="xsd:double"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="feeCalculationRequest">

      <wsdl:part element="impl:airClass" name="airClass"/>

      <wsdl:part element="impl:area" name="area"/>

      <wsdl:part element="impl:isStudent" name="isStudent"/>

      <wsdl:part element="impl:luggage" name="luggage"/>

      <wsdl:part element="impl:economicfee" name="economicfee"/>

   </wsdl:message>

   <wsdl:message name="feeCalculationResponse">

      <wsdl:part element="impl:feeCalculationReturn" name="feeCalculationReturn"/>

   </wsdl:message>

   <wsdl:portType name="ACMS">

      <wsdl:operation name="feeCalculation" parameterOrder="airClass area isStudent luggage economicfee">

         <wsdl:input message="impl:feeCalculationRequest" name="feeCalculationRequest"/>

         <wsdl:output message="impl:feeCalculationResponse" name="feeCalculationResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ACMSSoapBinding" type="impl:ACMS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="feeCalculation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="feeCalculationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="feeCalculationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ACMSService">

      <wsdl:port binding="impl:ACMSSoapBinding" name="ACMS">

         <wsdlsoap:address location="http://localhost:8080//services/example/ACMS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
